Repository zl-autoware/autoware.core, changes with the owners that .github/CODEOWNERS names for each.
All owners: anh.nguyen.2@tier4.jp, masahiro.sakamoto@tier4.jp, ryu.yamamoto@tier4.jp, shintaro.sakoda@tier4.jp, taiki.yamada@tier4.jp, yamato.ando@tier4.jp, @autowarefoundation/autoware-core-global-codeowners, mfc@autoware.org

fix(motion_velocity_obstacle_stop_module): fix debug topic name (#341)
  planning/motion_velocity_planner/autoware_motion_velocity_obstacle_stop_module/src/obstacle_stop_module.cpp
Owners: none

refactor(autoware_vehicle_info_utils): rewrite using modern C++ without API breakage (#343)
  common/autoware_vehicle_info_utils/include/autoware/vehicle_info_utils/vehicle_info.hpp
  common/autoware_vehicle_info_utils/include/autoware/vehicle_info_utils/vehicle_info_utils.hpp
  common/autoware_vehicle_info_utils/src/vehicle_info.cpp
  common/autoware_vehicle_info_utils/src/vehicle_info_utils.cpp
Owners: none

refactor(autoware_motion_utils): rewrite using modern C++ without API breakage (#348)
  common/autoware_motion_utils/include/autoware/motion_utils/distance/distance.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/marker/marker_helper.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/marker/virtual_wall_marker_creator.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/resample/resample_utils.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/trajectory.hpp
  common/autoware_motion_utils/include/autoware/motion_utils/vehicle/vehicle_state_checker.hpp
  common/autoware_motion_utils/test/src/trajectory/test_trajectory.cpp
Owners: none

feat(map_loader): add the explanation of handling use_waypoints (#342)
  map/autoware_map_loader/README.md
  map/autoware_map_loader/docs/overwrite_lanelets_centerline.drawio.svg
Owners: none

chore: include iostream and link yaml-cpp for Jazzy (#351)
  common/autoware_trajectory/examples/example_readme.cpp
  testing/autoware_test_utils/CMakeLists.txt
Owners: none

refactor(autoware_lanelet2_utils): rewrite using modern C++ without API breakage (#347)
  common/autoware_lanelet2_utils/src/intersection.cpp
  common/autoware_lanelet2_utils/src/kind.cpp
Owners: none

feat(autoware_path_generator): use autoware_trajectory for cropping bounds (#349)
  planning/autoware_path_generator/src/utils.cpp
Owners: none

refactor(autoware_geography_utils): rewrite using modern C++ without API breakage (#345)
  common/autoware_geography_utils/include/autoware/geography_utils/height.hpp
  common/autoware_geography_utils/src/height.cpp
  common/autoware_geography_utils/src/lanelet2_projector.cpp
Owners: anh.nguyen.2@tier4.jp, masahiro.sakamoto@tier4.jp, ryu.yamamoto@tier4.jp, shintaro.sakoda@tier4.jp, taiki.yamada@tier4.jp, yamato.ando@tier4.jp, @autowarefoundation/autoware-core-global-codeowners

test(autoware_localization_util): add tests (#308)
  localization/autoware_localization_util/CMakeLists.txt
  localization/autoware_localization_util/test/test_covariance_ellipse.cpp
  localization/autoware_localization_util/test/test_smart_pose_buffer.cpp
  localization/autoware_localization_util/test/test_tpe.cpp
  localization/autoware_localization_util/test/test_util_func.cpp
Owners: none

feat(trajectory): add API description, nomenclature, illustration, rename functions to align with nomenclature (#292)
  common/autoware_trajectory/CMakeLists.txt
  common/autoware_trajectory/README.md
  common/autoware_trajectory/examples/example_readme.cpp
  common/autoware_trajectory/images/nomenclature/approximation.drawio.svg
  common/autoware_trajectory/images/nomenclature/curvature.drawio.svg
  common/autoware_trajectory/images/nomenclature/curve.drawio.svg
  common/autoware_trajectory/include/autoware/trajectory/path_point.hpp
  common/autoware_trajectory/include/autoware/trajectory/path_point_with_lane_id.hpp
  common/autoware_trajectory/include/autoware/trajectory/point.hpp
  common/autoware_trajectory/include/autoware/trajectory/pose.hpp
  common/autoware_trajectory/include/autoware/trajectory/trajectory_point.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/closest.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/crossed.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/curvature_utils.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/find_intervals.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/shift.hpp
  common/autoware_trajectory/package.xml
  common/autoware_trajectory/src/path_point.cpp
  common/autoware_trajectory/src/path_point_with_lane_id.cpp
  common/autoware_trajectory/src/point.cpp
  common/autoware_trajectory/src/pose.cpp
  common/autoware_trajectory/src/trajectory_point.cpp
  mkdocs.yaml
  testing/autoware_pyplot/include/autoware/pyplot/axes.hpp
  testing/autoware_pyplot/include/autoware/pyplot/figure.hpp
  testing/autoware_pyplot/src/axes.cpp
  testing/autoware_pyplot/src/figure.cpp
Owners: none

feat(trajectory): add API documentation for trajectory class, add some utillity (#295)
  common/autoware_trajectory/README.md
  common/autoware_trajectory/examples/example_readme.cpp
  common/autoware_trajectory/images/nomenclature/trajectory_hierarchy.drawio.svg
  common/autoware_trajectory/images/overview/interpolators.drawio.svg
  common/autoware_trajectory/images/overview/trajectory.drawio.svg
  common/autoware_trajectory/include/autoware/trajectory/point.hpp
  common/autoware_trajectory/src/point.cpp
Owners: none

feat(autoware_trajectory): improve performance of get_underlying_base (#298)
  common/autoware_trajectory/include/autoware/trajectory/detail/helpers.hpp
  common/autoware_trajectory/include/autoware/trajectory/detail/interpolated_array.hpp
  common/autoware_trajectory/include/autoware/trajectory/path_point.hpp
  common/autoware_trajectory/include/autoware/trajectory/path_point_with_lane_id.hpp
  common/autoware_trajectory/include/autoware/trajectory/point.hpp
  common/autoware_trajectory/include/autoware/trajectory/trajectory_point.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/closest.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/find_intervals.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/shift.hpp
  common/autoware_trajectory/src/path_point.cpp
  common/autoware_trajectory/src/path_point_with_lane_id.cpp
  common/autoware_trajectory/src/point.cpp
  common/autoware_trajectory/src/pose.cpp
  common/autoware_trajectory/src/trajectory_point.cpp
  common/autoware_trajectory/src/utils/closest.cpp
  common/autoware_trajectory/src/utils/shift.cpp
Owners: none

fix(path_generator): avoid shortcuts at overlaps (#352)
  planning/autoware_path_generator/include/autoware/path_generator/utils.hpp
  planning/autoware_path_generator/param/path_generator_parameters.yaml
  planning/autoware_path_generator/src/node.cpp
  planning/autoware_path_generator/src/node.hpp
  planning/autoware_path_generator/src/utils.cpp
  planning/autoware_path_generator/test/test_lanelet.cpp
Owners: none

docs(path_generator): add description of path cut & turn signal feature (#359)
  planning/autoware_path_generator/README.md
  planning/autoware_path_generator/media/path_cut_mutual_intersection.drawio.svg
  planning/autoware_path_generator/media/path_cut_self_intersection.drawio.svg
  planning/autoware_path_generator/media/path_cut_start_edge_intersection.drawio.svg
  planning/autoware_path_generator/media/turn_signal_conflict.drawio.svg
  planning/autoware_path_generator/media/turn_signal_sections.drawio.svg
  planning/autoware_path_generator/schema/path_generator.schema.json
Owners: none

refactor(path_generator): avoid using fixed-size array (#353)
  planning/autoware_path_generator/include/autoware/path_generator/utils.hpp
  planning/autoware_path_generator/src/utils.cpp
Owners: none

fix(path_generator): deal with unintended input (#336)
  planning/autoware_path_generator/src/utils.cpp
Owners: none

docs(autoware_component_interface_specs): fix `README.md` (#363)
  common/autoware_component_interface_specs/README.md
Owners: none

feat(map_projection_loader): add scale_factor and remove altitude (#340)
  .github/workflows/build-and-test-differential.yaml
  common/autoware_geography_utils/src/lanelet2_projector.cpp
  common/autoware_geography_utils/test/test_lanelet2_projector.cpp
  map/autoware_map_projection_loader/README.md
  map/autoware_map_projection_loader/src/map_projection_loader.cpp
Owners: @autowarefoundation/autoware-core-global-codeowners, anh.nguyen.2@tier4.jp, masahiro.sakamoto@tier4.jp, ryu.yamamoto@tier4.jp, shintaro.sakoda@tier4.jp, taiki.yamada@tier4.jp, yamato.ando@tier4.jp

feat(component_interface_specs): use template type in get_qos function (#364)
  common/autoware_component_interface_specs/README.md
  common/autoware_component_interface_specs/include/autoware/component_interface_specs/utils.hpp
  common/autoware_component_interface_specs/test/test_control.cpp
  common/autoware_component_interface_specs/test/test_localization.cpp
  common/autoware_component_interface_specs/test/test_map.cpp
  common/autoware_component_interface_specs/test/test_perception.cpp
  common/autoware_component_interface_specs/test/test_planning.cpp
  common/autoware_component_interface_specs/test/test_vehicle.cpp
  map/autoware_map_loader/src/lanelet2_map_loader/lanelet2_map_loader_node.cpp
  map/autoware_map_projection_loader/src/map_projection_loader.cpp
Owners: none

feat(autoware_utils): remove managed transform buffer (#360)
  perception/autoware_ground_filter/README.md
  perception/autoware_ground_filter/docs/ground-filter.md
  perception/autoware_ground_filter/include/autoware/ground_filter/node.hpp
  perception/autoware_ground_filter/src/node.cpp
  sensing/autoware_crop_box_filter/include/autoware/crop_box_filter/crop_box_filter_node.hpp
  sensing/autoware_crop_box_filter/package.xml
  sensing/autoware_crop_box_filter/src/crop_box_filter_node.cpp
Owners: none

fix(autoware_path_optimizer): incorrect application of input velocity due to badly mapping output trajectory to input trajectory (#355)
  common/autoware_interpolation/README.md
  common/autoware_motion_utils/include/autoware/motion_utils/trajectory/trajectory.hpp
  common/autoware_motion_utils/test/src/trajectory/test_trajectory.cpp
Owners: none

fix(autoware_trajectory): check vector size check before accessing (#365)
  common/autoware_trajectory/src/point.cpp
Owners: none

test(path_generator): add tests for path cut feature (#268)
  planning/autoware_path_generator/CMakeLists.txt
  planning/autoware_path_generator/test/test_path_cut.cpp
  planning/autoware_path_generator/test/utils_test.hpp
  testing/autoware_test_utils/README.md
  testing/autoware_test_utils/images/overlap_test_map.png
  testing/autoware_test_utils/test_map/overlap/lanelet2_map.osm
Owners: none

fix(autoware_trajectory): fix base_addition callback to work when Trajectory is moved (#370)
  common/autoware_trajectory/include/autoware/trajectory/detail/interpolated_array.hpp
  common/autoware_trajectory/include/autoware/trajectory/path_point.hpp
  common/autoware_trajectory/include/autoware/trajectory/path_point_with_lane_id.hpp
  common/autoware_trajectory/include/autoware/trajectory/trajectory_point.hpp
  common/autoware_trajectory/src/path_point.cpp
  common/autoware_trajectory/src/path_point_with_lane_id.cpp
  common/autoware_trajectory/src/pose.cpp
  common/autoware_trajectory/src/trajectory_point.cpp
  common/autoware_trajectory/test/test_trajectory_container.cpp
Owners: none

feat(trajectory): improve shift function and their documents (#337)
  common/autoware_trajectory/CMakeLists.txt
  common/autoware_trajectory/README.md
  common/autoware_trajectory/examples/example_pose.cpp
  common/autoware_trajectory/examples/example_readme.cpp
  common/autoware_trajectory/examples/example_shift.cpp
  common/autoware_trajectory/images/overview/trajectory.drawio.svg
  common/autoware_trajectory/images/utils/align_orientation_with_trajectory_direction.drawio.svg
  common/autoware_trajectory/images/utils/shift/path_shifter.png
  common/autoware_trajectory/images/utils/shift/shift.drawio.svg
  common/autoware_trajectory/images/utils/shift/shift_interval.drawio.svg
  common/autoware_trajectory/images/utils/shift/shift_left_right.drawio.svg
  common/autoware_trajectory/images/utils/shift/shift_num_points.drawio.svg
  common/autoware_trajectory/include/autoware/trajectory/point.hpp
  common/autoware_trajectory/include/autoware/trajectory/utils/shift.hpp
  common/autoware_trajectory/package.xml
  common/autoware_trajectory/src/pose.cpp
  common/autoware_trajectory/src/utils/shift.cpp
  common/autoware_trajectory/test/tese_shift.cpp
Owners: none

refactor(autoware_lanelet2_utils)!: move everything to namespace experimental (#372)
  common/autoware_lanelet2_utils/include/autoware/lanelet2_utils/intersection.hpp
  common/autoware_lanelet2_utils/include/autoware/lanelet2_utils/kind.hpp
  common/autoware_lanelet2_utils/include/autoware/lanelet2_utils/topology.hpp
  common/autoware_lanelet2_utils/src/intersection.cpp
  common/autoware_lanelet2_utils/src/kind.cpp
  common/autoware_lanelet2_utils/src/topology.cpp
  common/autoware_lanelet2_utils/test/intersection.cpp
  common/autoware_lanelet2_utils/test/kind.cpp
  common/autoware_lanelet2_utils/test/topology.cpp
Owners: none

feat(trajectory): add pretty_build() function for Planning/Control component node (#332)
  common/autoware_trajectory/README.md
  common/autoware_trajectory/examples/example_pretty_build.cpp
  common/autoware_trajectory/images/utils/pretty_trajectory.drawio.svg
  common/autoware_trajectory/include/autoware/trajectory/utils/pretty_build.hpp
  common/autoware_trajectory/package.xml
  common/autoware_trajectory/src/utils/pretty_build.cpp
  common/autoware_trajectory/test/test_pretty_build.cpp
  common/autoware_trajectory/test/test_trajectory_container_trajectory_point.cpp
Owners: none

feat(path_generator): move generate_path public (#380)
  planning/autoware_path_generator/include/autoware/path_generator/node.hpp
  planning/autoware_path_generator/src/node.cpp
  planning/autoware_path_generator/test/test_path_generator_node_interface.cpp
Owners: none

fix(path_generator): set both lane IDs to point on border of adjacent lanes (#384)
  planning/autoware_path_generator/src/node.cpp
Owners: none

refactor(autoware_object_recognition_utils): use `autoware_utils_*` instead of `autoware_utils` (#385)
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/matching.hpp
  common/autoware_object_recognition_utils/include/autoware/object_recognition_utils/predicted_path_utils.hpp
  common/autoware_object_recognition_utils/package.xml
  common/autoware_object_recognition_utils/src/predicted_path_utils.cpp
  common/autoware_object_recognition_utils/test/src/test_conversion.cpp
  common/autoware_object_recognition_utils/test/src/test_matching.cpp
  common/autoware_object_recognition_utils/test/src/test_predicted_path_utils.cpp
Owners: none

refactor(interpolation): use `autoware_utils_*` instead of `autoware_utils` (#382)
  common/autoware_interpolation/include/autoware/interpolation/spline_interpolation.hpp
  common/autoware_interpolation/include/autoware/interpolation/spline_interpolation_points_2d.hpp
  common/autoware_interpolation/package.xml
  common/autoware_interpolation/src/spline_interpolation_points_2d.cpp
  common/autoware_interpolation/test/src/test_spline_interpolation.cpp
  common/autoware_interpolation/test/src/test_spline_interpolation_points_2d.cpp
Owners: none

feat(route_handler): use a cost metric to select start lane (#357)
  planning/autoware_route_handler/src/route_handler.cpp
Owners: none

chore(autoware_kalman_filter): add maintainer (#381)
  common/autoware_kalman_filter/package.xml
Owners: none

.github/CODEOWNERS:

### Automatically generated from package.xml ###
common/autoware_geography_utils/** anh.nguyen.2@tier4.jp masahiro.sakamoto@tier4.jp ryu.yamamoto@tier4.jp shintaro.sakoda@tier4.jp taiki.yamada@tier4.jp yamato.ando@tier4.jp @autowarefoundation/autoware-core-global-codeowners
common/autoware_node/** mfc@autoware.org @autowarefoundation/autoware-core-global-codeowners
demos/autoware_test_node/** mfc@autoware.org @autowarefoundation/autoware-core-global-codeowners

### Copied from .github/CODEOWNERS-manual ###
.github/** @autowarefoundation/autoware-core-global-codeowners
